$color-base: #fdc7d7;
$color-secundario: #0f172c;
$fondo: #a786df;

// Color de los botones de mascotas:
$color: darken(blue, 40);

// Proporciones:
$max-width: 1200px;
$width: calc(100% - 20px);